$fullcircle-radius: 1000px;

body {
	font-family: sans-serif;
}


@keyframes rotation {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(359deg);
	}
}
@keyframes rotation-inverse {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(-359deg);
	}
}

.fullscreen {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 300px;
    height: 300px;
    position: relative;
    .balls {
      position: relative;
      .yellow {
        height: 160px;
        width: 160px;
        border-radius: $fullcircle-radius;
        background-color: #ffda00;
        position: absolute;
        top: 7px;
        right: 61px;
        mix-blend-mode: multiply;
        animation: rotation 5s infinite linear;
        transform-origin: 51% 48%;
      }
      .purple {
        height: 130px;
        width: 130px;
        border-radius: $fullcircle-radius;
        background-color: #808fff;
        position: absolute;
        top: 108px;
        left: 20px;
        mix-blend-mode: multiply;
        animation: rotation-inverse 7s infinite linear;
        transform-origin: 52% 47%;
      }
      .red {
        height: 115px;
        width: 115px;
        border-radius: $fullcircle-radius;
        background-color: #ff2976;
        position: absolute;
        top: 26px;
        left: 7px;
        mix-blend-mode: multiply;
        animation: rotation 5s infinite linear;
        transform-origin: 53% 49%;
      }
      .blue {
        height: 170px;
        width: 170px;
        border-radius: $fullcircle-radius;
        background-color: #05d8d8;
        position: absolute;
        top: 69px;
        left: 117px;
        mix-blend-mode: multiply;
        animation: rotation-inverse 5s infinite linear;
        transform-origin: 51% 48%;
      }
      .green {
        height: 40px;
        width: 40px;
        border-radius: $fullcircle-radius;
        background-color: #9bff0d;
        position: absolute;
        top: 35px;
        left: 256px;
        mix-blend-mode: multiply;
        animation: rotation 3s infinite linear;
        transform-origin: 46% 53%;
      }
    }
    .logo {
      position: absolute;
      top: 77px;
      left: 80px;
    }
		.texto {
			position: absolute;
			bottom: 10px;
			right: 36px;
		}
  }
}

.contato {
	position: fixed;
	bottom: 70px;
	width: 100%;
	text-align: center;
	line-height: 1;
	a {
		text-decoration: none;
		color: rgba(0,0,0,.6);
		background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
		transition: all .25s ease-out;
		&:hover {
			background-size: 100% 1px;
		}
	}
	img {
		margin-right: .5em;
		margin-top: -2px;
		width: 24px;
	}
	.spacer {
		margin: 0 15px;
		opacity: .3;
	}
}
